{
    "token": NDQ3ODc2NDk3MDM4OTAxMjU5.XKLa5w.d3KG4oVMmIT62SeG3LBivz9wMJM",
    "prefix": "/",
    "name": "Gunter",
    "invite": "https://discordapp.com/oauth2/authorize?&client_id=405480380930588682&scope=bot&permissions=35840",
    "pixelzone_api_key": null,

    "preview_height": 240,
    "preview_width": 400,
    "max_templates_per_guild": 25,
    "max_template_name_length": 32,

    "logging_channel_id": 0,
    "debug": false,
    "channel_log_guild_renames": false,
    "channel_log_guild_joins": false,
    "channel_log_guild_kicks": false,

    "invert": false
}
